# General
setuptools==59.1.1
wheel==0.37.1
bitarray==2.3.5
# Algorithms
numpy==1.22.1
scipy==1.7.3
pandas==1.4.0
nltk==3.6.7
snakecase==1.0.1
anytree==2.8.0
six==1.16.0
strsim==0.0.3
networkx==2.6.3
chardet==4.0.0
python-Levenshtein==0.12.2
PuLP==2.6.0
pyemd==0.5.1
# Data Sources
cached-property==1.5.2
openpyxl==3.0.9
python-dateutil==2.8.2
more-itertools==8.12.0
# Flask API
Flask==2.0.2
Flask-WTF==1.0.0
Flask-Cors==3.0.10
pydantic==1.9.0
requests==2.27.1
gunicorn==20.1.0
# redis connector
redis==4.1.2
# minio connector
minio==7.1.3
# celery
celery==5.2.3
msgpack==1.0.3
# flower
flower==1.0.0
# fabricator
unidecode==1.3.2
# plots
seaborn==0.11.2
matplotlib==3.5.1
Pillow==9.0.0
# postgres
SQLAlchemy==1.4.31
SQLAlchemy-Utils==0.38.2
psycopg2-binary==2.9.3