# General
setuptools==57.0.0
wheel==0.36.2
bitarray==2.1.0
# Algorithms
numpy==1.20.3
scipy==1.6.3
pandas==1.2.4
nltk==3.6.2
snakecase==1.0.1
anytree==2.8.0
six==1.16.0
strsim==0.0.3
networkx==2.5.1
chardet==4.0.0
python-Levenshtein==0.12.2
PuLP==2.4
pyemd==0.5.1
# Data Sources
cached-property==1.5.2
openpyxl==3.0.7
python-dateutil==2.8.1
more-itertools==8.8.0
# Flask API
Flask==2.0.1
Flask-WTF==0.15.1
Flask-Cors==3.0.10
pydantic==1.8.2
requests==2.25.1
gunicorn==20.1.0
# redis connector
redis==3.5.3
# minio connector
minio==7.0.3
# celery
celery==4.4.7
msgpack==1.0.2
# flower
flower==0.9.5
# plots
seaborn==0.11.1
matplotlib==3.4.2
Pillow==8.3.1

