.VerifiedMatches {
    width: 100%;
    text-align: center;
}

.Root {
    width: 100%;
}

.Container {
    max-height: 800px;
}

.Parent {
    margin-top: 80px;
    margin-right: 100px;
    margin-left: 100px;
}