.Sample {
    margin-left: 5px;
    margin-right: 5px;
    /*width: 49%;*/
}


/*td, th {*/
/*    border: 1px solid black;*/
/*    background: white;*/
/*}*/


/*table {*/
/*  width: 100%;*/
/*  border-collapse: collapse;*/
/*}*/


/*.Table {*/
/*    overflow-x:auto;*/
/*    max-width: 1080px;*/
/*    font-size: 11px;*/
/*    !*margin-left: 5px;*!*/
/*    !*margin-right: 5px;*!*/
/*    !*border-collapse: collapse;*!*/
/*    !*color: #162545;*!*/
/*    !*background: white;*!*/
/*    !*border: 1px solid black;*!*/
/*}*/

.Row {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
}

.Column {
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    border: 1px solid black;
    background: white;
}